body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}

.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Start CSS Here */
.widgetName-Main-Container,
.widgetName-Main-Container a,
.widgetName-Main-Container div,
.widgetName-Main-Container img,
.widgetName-Main-Container label,
.widgetName-Main-Container input,
.widgetName-Main-Container select {
	position: relative;
	/* display: block;
	width: 100%; */
	height: auto;
	/* padding: 0;
	margin: 0; */
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
}

/*Loader CSS*/
.widget-Loader-Container {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background-color: #c8c8c880; */
	z-index: 1;
}

.widget-Loader-Container svg {
	max-width: 200px;
	animation: 2s linear infinite svg--animation;
}

.widget-Loader-Container svg circle.one {
	display: block;
	fill: transparent;
	stroke: #c3c3c3;
	stroke-width: 3px;
}

.widget-Loader-Container svg circle.two {
	animation: 3s linear infinite circle-animation;
	display: block;
	fill: transparent;
	/* stroke: rgb(255, 164, 0); */
	stroke: rgb(var(--primaryColor));
	stroke-linecap: round;
	stroke-dasharray: 253;
	stroke-dashoffset: 250;
	stroke-width: 3px;
	transform-origin: 50% 50%;
}

@keyframes circle-animation {
	0% {
		stroke-dashoffset: 250;
		transform: rotate(0deg);
	}

	50% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 250;
		transform: rotate(360deg);
	}
}

@keyframes svg--animation {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg)
	}
}
/*End Loader CSS*/

/*Error Handling*/
.widget-noCollection-Title {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: rgb(var(--warningColor));
}

.widget-noCollection-Subtext {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* color: rgb(177, 177, 177); */
	color: rgb(var(--secondaryColor));
}
/*End Error Handling*/

/* - - - - - -  ADD CSS HERE - - - - - - */ 

.cs-MainWrapper {
    padding: 40px 0 !important;
}
.innerFil {
    display: flex;
	justify-content: space-between;
}

.filWrap{
    width: 25% ! important;
	margin: 0 5px !important;
}
.filWrap select{
    width: 100% ! important;
	height: 40px;
	padding: 10px !important;
	border: 1px solid #c3c3c3;
}
.cs-ResPage {
    /* background: #efefef; */
    padding: 20px  0px;
}
.itemWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.itemWrapper-2 {
    display: block;
    width: 100%;
}
.itemBox {
	display: block;
	width: 31.2%;
    position: relative;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
	background-color: #ffffff;
	transition: 0.5s ease-in-out;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.itemBox-1 {
	width: 31.2%;
}
.itemBox-2 {
	width: auto;
}
.itemBox:hover{
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}
.btnLink{
	width: 150px;
	height: 35px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	transition: 0.5s ease-in-out;
	background-color: #361FDD;
}
.btnLink:hover{
	background-color: #1A0F67;
}
.paginationjs {
    margin-top: 30px;
}
.cs-name{
	margin: 0 0 20px 0;
}
.address-item {
    display: flex;
}
.address-item i {
    margin-right: 10px;
    margin-top: 5px;
	color: #E41E12;
}
.paginationjs .paginationjs-pages li{
	border: none !important;
}
.paginationjs .paginationjs-pages li.active>a{
	background-color: #361FDD;
	color: #ffffff
}
/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */